.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
body{
	overflow:hidden;
}
.bus {
	width: 32%;
	height: 26%;
	background: #ffb640;
	position: absolute;
	top: 35%;
	left: 1%;
	border-radius: 6%;
	outline: 6px solid brown;
	animation: bus 6s linear infinite;
}

.frontWindow {
	width: 4%;
	height: 45%;
	background: #2cbdff;
	position: absolute;
	top: 23%;
	right: 0%;
	border-radius: 0% 0% 0% 30%;
	outline: 6px solid brown;
}

.backWindow {
	width: 5%;
	height: 25%;
	background: #2cbdff;
	position: absolute;
	top: 15%;
	left: 0%;
	border-radius: 1% 20% 20% 1%;
	outline: 6px solid brown;
}

.mirrorHandle {
	width: 18%;
	height: 5%;
	background: #ffb640;
	position: absolute;
	top: 14.9%;
	left: 91.5%;
	border-radius: 1px 20px 32px 8px;
	outline: 6px solid brown;
}

.mirror {
	width: 20%;
	height: 335%;
	background: #ffb640;
	position: absolute;
	top: 0px;
	left: 91.5%;
	border-radius: 1px 20px 32px 8px;
	outline: 6px solid brown;
}

.roof {
	width: 25%;
	height: 8%;
	background: #ffb640;
	position: absolute;
	top: -10%;
	left: 15%;
	border-radius: 12px 12px 2px 2px;
	outline: 4px solid brown;
}

.indicator {
	width: 2%;
	height: 14%;
	background: #ee3c2f;
	position: absolute;
	top: 52%;
	left: 0%;
	border-radius: 4px 6px 8px 1px;
	outline: 6px solid brown;
}

.driverWindow {
	width: 11.4%;
	height: 33%;
	background: #fff;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
	top: 15%;
	right: 10%;
	outline: 6px solid brown;
}

.door {
	width: 100%;
	height: 90%;
	background: #fff;
	border-radius: 0px 0px 8px 42px;
	position: absolute;
	top: 112.5%;
	right: 0%;
	outline: 6px solid brown;
}

.doorLock {
	width: 5%;
	height: 8%;
	background: #521515;
	border-radius: 1px;
	position: absolute;
	top: 25%;
	right: 68.5%;
	outline: 4px solid brown;
}

.window {
	width: 11%;
	height: 26%;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 15%;
	outline: 6px solid brown;
}

.cover {
	width: 75px;
	height: 39px;
	background: #6b174e;
	border-radius: 150px 150px 0 0;
	position: absolute;
	top: 138px;
	left: 68px;
}

.tire {
	width: 30px;
	height: 30px;
	border: 15px solid #7b6b6a;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 8px;
	animation: rotate 3s linear infinite;
}

.innerTire {
	width: 23px;
	height: 23px;
	border: 4px dashed #78120b;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: -1px;
	outline: 6px solid #6b174e;
}

.road {
	width: 100%;
	height: 40%;
	position: absolute;
	background-color: #525252;
	top: 47%;
	bottom: 0%;
	overflow:hidden;
}

.roadLines {
	width: 6%;
	height: 4%;
	border: 0px solid black;
	background: #fff;
	position: absolute;
	top: 47%;
	left:0%;
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes bus {
	0% {
		transform: translate(0px);
	}

	100% {
		transform: translate(1000px);
	}
}
